/* Hero оформление градиента и фото */
.overlay {
  margin: 0 auto;
  background-color: var(--moz-decoration-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 480px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.hero-style {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-title {
  text-align: center;
}

/*  Кнопка-героя Button */
.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
/* Модальное окно на кнопке заказать услугу*/
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--primary-bg-color);
  border-radius: 5px;
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exit {
  width: 11px;
  height: 11px;
  fill: currentColor;
}
.exit-button:hover {
  color: var(--accent-color);
}
.exit-button {
  position: absolute;
  display: inline-flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--primery-bg-color);
  cursor: pointer;
}
/* Модальное окно оформление*/
textarea {
  resize: none;
}
.modal-heading {
  color: var(--logo-color);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
}
.modal-form {
  padding-left: 41px;
  padding-right: 39px;
  margin-left: auto;
  margin-right: auto;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.comment-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.policy-field {
  margin-bottom: 30px;
}
.policy-text {
  color: var(--accent-color);
}
.form-field input {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 35px;
  padding-right: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment-field textarea {
  margin: 0;
  padding: 14px 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.comment-field textarea::placeholder {
  font-size: 14px;
}

.policy-field input {
  margin: 0px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.policy-field {
  text-align: center;
}
.policy-field label {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.form-field label {
  margin: 5px;
}
.comment-field label {
  margin: 5px;
}
/* Кнопка внутри модального окна*/
.submit {
  display: inline-flex;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-style: 700;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal .submit {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
/* Иконки внутри форм-оформление*/
.footer-info {
  position: absolute;
  bottom: 14px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: black;
}
.form-field {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.input {
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 0px 8px 0px 8px;
}

.form-field .input:focus {
  border: 2px solid var(--accent-color);
  outline: inherit;
  border-radius: 4px;
}
.comment-field textarea:focus {
  border: 2px solid var(--accent-color);
  outline: inherit;
  border-radius: 4px;
}
.input:focus + .footer-info {
  fill: var(--accent-color);
}

.checkbox-label span::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 2px solid var(--logo-color);
  margin-right: 10px;
  vertical-align: middle;
  background-image: url(../images/Vector.svg);
  background-size: contain;
  background-origin: border-box;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + span::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Секция под героем без заголовка*/
.decoration-icon {
  background-color: var(--animation-direction);
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.item-icon {
  width: 65px;
  height: 70px;
  fill: black;
}
.section-hero {
  padding-top: 94px;
}
/* Секция чем мы занимаемся*/

/* Наложение текста на картинку*/
.activ-content {
  position: relative;
}
.embedded-text {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-bg-color);
}

.list {
  display: flex;
}
.list .item {
  width: calc((100%-90px) / 4);
}
.section-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.info-list {
  display: flex;
}
.info-list.item:not(:last-child) {
  margin-right: 30px;
}
.info-list .item {
  width: calc((100% - 60px) / 3);
}

/* Section секция команды */
.nav-section {
  background-color: var(--animation-direction);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.section-title-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-title-feauter {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
/*оформление соц сетей нашей команды*/
.team-icon {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
.team-icon .icon {
  width: 20px;
  height: 20px;
}
.sicial-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--сosial-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sicial-link svg {
  fill: currentColor;
}
.sicial-link:hover {
  background-color: var(--accent-color);
}
.sicial-link:hover svg {
  fill: var(--primary-bg-color);
}
.icon .team-icon .icon-item:not(:last-child) {
  margin-right: 10px;
}
/*Оформление карточек команды*/
.team-ticket {
  background-color: var(--primary-bg-color);
  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.feauter-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
}
.navigation-list {
  display: flex;
}
.navigation-list .item:not(:last-child) {
  margin-right: 30px;
}
.navigation-list .item {
  width: calc((100%-90px) / 4);
}
.item:not(:last-child) {
  margin-right: 50px;
}
/*Наши партнеры*/
.partner {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.company {
  display: flex;
}

.clients:not(:last-child) {
  margin-right: 30px;
}
.clients {
  width: 170px;
}
.clients-item {
  display: flex;
  height: 90px;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--сosial-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--сosial-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logoone {
  width: 45px;
  max-height: 90px;
  fill: currentColor;
}
.logotwo {
  width: 40px;
  max-height: 90px;
  fill: currentColor;
}
.logofour {
  width: 80px;
  max-height: 90px;
  fill: currentColor;
}
.logofive {
  width: 60px;
  max-height: 90px;
  fill: currentColor;
}
.logosix {
  width: 90px;
  max-height: 90px;
  fill: currentColor;
}
.clients-item:hover {
  color: var(--accent-color);
}
.clients-item:hover {
  border-color: var(--accent-color);
}
